#
# THIS IS A SAMPLE SERVER DATA TRAFFIC CONFIGURATION FILE
#
# * TO BE USED TO CONFIGURE RESPONSE TO INTERESTS
# * MULTIPLE SERVER PREFIXES CAN BE CONFIGURED FOR BEING HANDLED
# * EVERY INIVIDUAL PATTERN DESCRIPTION MUST BE SEPARATED BY ONE
#   OR MORE '#' CHARACTERS FOR THE TOOL TO DISTINGUISH THEM
#   INDIVIUDALLY
# * THE FOLLOWING PARAMETERS MAY BE ADDED FOR EVERY TRAFFIC PATTERN
# * (Mandatory) NEXT TO A PARAMETER MEANS EVERY PATTERN SHOULD HAVE
#   IT FOR BEING CONSIDERED VALID
#   (Optional) MEANS OTHERWISE
# * ALSO PROVIDED ARE VALID VALUES POSSIBLE FOR EACH PARAMETER
# * NNI STANDS FOR NON-NEGATIVE INTEGER
# * RANGE OF POSSIBLE VALUES IS SPECIFIED IN []
#
#
# (Mandatory)
#Name=NDN Name
#
#
# (Optional)
#ContentType=NNI [>=0]
#FreshnessPeriod=NNI [milliseconds]
#ContentBytes=NNI [>0]
#Content=String
#ContentDelay=NNI [milliseconds]
#SigningInfo=String [examples below]
#
#
##########
Name=/example/A
Content=AAAAAAAA
##########
Name=/example/B
Content=BBBBBBBB
SigningInfo=id:/my-identity
##########
Name=/example/C
Content=CCCCCCCC
SigningInfo=key:/my-identity/ksk-1450757659736
##########
Name=/example/D
Content=DDDDDDDD
SigningInfo=cert:/my-identity/KEY/3%F342%9C%E0R%CE/self/%FD%00%00%01%5EE%92%A8%2A
##########
Name=/example/E
Content=EEEEEEEE
SigningInfo=id:/localhost/identity/digest-sha256
##########
